@page
@model Web.Pages.Mesa.Index

@{
    Layout = "_Layout";
    ViewData["Title"] = "Mesas";
}

<h2>@ViewData["Title"]</h2>

<div>
    <a asp-page="CreateEdit" asp-page-handler="Create">Criar Novo</a>
</div>

@if (Model.Mesas is not null)
{
    <table>
        <thead>
        <tr>
            <th>Código</th>
            <th>Número</th>
            <th>Situação</th>
            <th>Hora de abertura</th>
            <th></th>
        </tr>
        </thead>
        <tbody>
        @foreach (var mesa in Model.Mesas)
        {
            <tr>
                <td>@mesa.Id</td>
                <td>@mesa.Numero</td>
                <td>@mesa.Status</td>
                <td>@mesa.HoraAbertura</td>
                <td>
                    <a asp-page="Details" asp-route-id="@mesa.Id">Detalhes</a> |
                    <a asp-page="CreateEdit" asp-page-handler="Edit" asp-route-id="@mesa.Id">Editar</a> |
                    <a asp-page="Delete" asp-route-id="@mesa.Id">Excluir</a>
                </td>
            </tr>
        }
        </tbody>
    </table>
    
    @await Html.PartialAsync("_Pagination", Model.PageViewModel)
}
else
{
    <p>Nenhuma mesa cadastrada.</p>
}