@page "{id:int}"
@model Web.Pages.Categoria.Details

@{
    Layout = "_Layout";
    ViewData["Title"] = "Detalhes";
}

<h2 class="mb-4">@ViewData["Title"]</h2>

<div class="card mb-4">
    <div class="card-body">
        <h4 class="card-title">Categoria</h4>
        <hr class="my-4"/>
        
        @if (Model.Categoria is not null)
        {
            <dl class="row">
                <dt class="col-sm-3">
                    <label asp-for="Categoria.Id" class="form-label">ID:</label>
                </dt>
                <dd class="col-sm-9">
                    @Model.Categoria.Id
                </dd>
                <dt class="col-sm-3">
                    <label asp-for="Categoria.Nome" class="form-label">Nome:</label>
                </dt>
                <dd class="col-sm-9">
                    @Model.Categoria.Nome
                </dd>
                <dt class="col-sm-3">
                    <label asp-for="Categoria.Descricao" class="form-label">Descrição:</label>
                </dt>
                <dd class="col-sm-9">
                    @Model.Categoria.Descricao
                </dd>
            </dl>
        }
        else
        {
            <p>Nenhuma categoria encontrada.</p>
        }
    </div>
</div>

<div class="mb-4">
    @if (Model.Categoria is not null)
    {
        <a asp-page="CreateEdit" asp-page-handler="Edit" asp-route-id="@Model.Categoria.Id" class="btn btn-primary me-2">Editar</a>
        <a asp-page="Delete" asp-route-id="@Model.Categoria.Id" class="btn btn-danger me-2">Excluir</a>
    }
    <a asp-page="Index" class="btn btn-secondary">Voltar</a>
</div>