@page
@model Web.Pages.Categoria.Index

@{
    Layout = "_Layout";
    ViewData["Title"] = "Categorias";
}

<h2>@ViewData["Title"]</h2>

<div class="d-flex justify-content-between align-items-center mb-3">
    <a class="btn btn-primary" asp-page="CreateEdit" asp-page-handler="Create">Criar Novo</a>
</div>

@if (Model.Categorias is not null && Model.Categorias.Any())
{
    <table class="table">
        <thead class="thead-light">
            <tr>
                <th scope="col">Código</th>
                <th scope="col">Nome</th>
                <th scope="col">Descrição</th>
                <th scope="col"></th>
            </tr>
        </thead>
        <tbody>
            @foreach (var categoria in Model.Categorias)
            {
                <tr>
                    <td>@categoria.Id</td>
                    <td>@categoria.Nome</td>
                    <td>@categoria.Descricao</td>
                    <td>
                        <div class="float-left">
                            <div class="btn-group" role="group">
                                <a class="btn btn-sm btn-info" asp-page="Details" asp-route-id="@categoria.Id">Detalhes</a>
                                <a class="btn btn-sm btn-primary" asp-page="CreateEdit" asp-page-handler="Edit"
                                    asp-route-id="@categoria.Id">Editar</a>
                                <a class="btn btn-sm btn-danger" asp-page="Delete" asp-route-id="@categoria.Id">Excluir</a>
                            </div>
                        </div>
                    </td>
                </tr>
            }
        </tbody>
    </table>

    @await Html.PartialAsync("_Pagination", Model.PageViewModel)
}
else
{
    <p class="text-muted">Nenhuma categoria cadastrada.</p>
}