@page "{id:int}"
@model Web.Pages.Garcom.Delete

@{
    Layout = "_Layout";
    ViewData["Title"] = "Excluir";
}

<h2>@ViewData["Title"]</h2>

<div>
    <h4>Garçom</h4>
    <hr/>

    @if (Model.Garcom is not null)
    {
        <dl class="dl-horizontal">
            <dt>
                <label asp-for="Garcom.Id"></label>
            </dt>
            <dd>
                @Model.Garcom.Id
            </dd>
            <dt>
                <label asp-for="Garcom.Nome"></label>
            </dt>
            <dd>
                @Model.Garcom.Nome @Model.Garcom.Sobrenome
            </dd>
            <dt>
                <label asp-for="Garcom.NumeroTelefone"></label>
            </dt>
            <dd>
                @Model.Garcom.NumeroTelefone
            </dd>
            <dt>
                <label asp-for="Garcom.NumeroTelefone"></label>
            </dt>
        </dl>
    }
    else
    {
        <p>Nenhum garçom encontrado.</p>
    }
</div>

<div>
    @foreach (var error in Model.Errors)
    {
        <p class="text-danger">@error</p>
    }
</div>

<div>
    @if (Model.Garcom is not null)
    {
        <form method="post">
            <input type="hidden" asp-for="Garcom.Id"/>
            <input type="submit" value="Excluir"/>
        </form>
    }
    <a asp-page="Index">Voltar</a>
</div>