@page "{id:int}"
@model Web.Pages.Garcom.Details

@{
    Layout = "_Layout";
    ViewData["Title"] = "Detalhes";
}

<h2 class="mb-4">@ViewData["Title"]</h2>

<div class="card mb-4">
    <div class="card-body">
        <h4 class="card-title">Garçom</h4>
        <hr class="my-4" />

        @if (Model.Garcom is not null)
        {
            <dl class="row">
                <dt class="col-sm-3">
                    <label asp-for="Garcom.Id" class="form-label">ID:</label>
                </dt>
                <dd class="col-sm-9">
                    @Model.Garcom.Id
                </dd>
                <dt class="col-sm-3">
                    <label asp-for="Garcom.Nome" class="form-label">Nome:</label>
                </dt>
                <dd class="col-sm-9">
                    @Model.Garcom.Nome @Model.Garcom.Sobrenome
                </dd>
                <dt class="col-sm-3">
                    <label asp-for="Garcom.NumeroTelefone" class="form-label">Número de Telefone:</label>
                </dt>
                <dd class="col-sm-9">
                    @Model.Garcom.NumeroTelefone
                </dd>
            </dl>

            <hr class="my-4" />

            @if (Model.Garcom.Atendimentos is not null)
            {
                <h4 class="card-title">Atendimentos</h4>

                <table class="table table-striped">
                    <thead>
                        <tr>
                            <th>Código</th>
                            <th>Hora de Abertura</th>
                            <th>Hora de Fechamento</th>
                            <th></th>
                        </tr>
                    </thead>
                    <tbody>
                        @foreach (var atendimento in Model.Garcom.Atendimentos)
                        {
                            <tr>
                                <td>@atendimento.Id</td>
                                <td>@atendimento.HoraAbertura</td>
                                <td>@atendimento.HoraFechamento</td>
                                <td>
                                    <a asp-page="Details" asp-route-id="@atendimento.Id" class="btn btn-primary me-2">Detalhes</a>
                                    <a asp-page="CreateEdit" asp-page-handler="Edit" asp-route-id="@atendimento.Id"
                                        class="btn btn-primary me-2">Editar</a>
                                    <a asp-page="Delete" asp-route-id="@atendimento.Id" class="btn btn-danger me-2">Excluir</a>
                                </td>
                            </tr>
                        }
                    </tbody>
                </table>
            }
        }
        else
        {
            <p>Nenhum garçom encontrado.</p>
        }
    </div>
</div>

<div class="mb-4">
    @if (Model.Garcom is not null)
    {
        <a asp-page="CreateEdit" asp-page-handler="Edit" asp-route-id="@Model.Garcom.Id"
            class="btn btn-primary me-2">Editar</a>
        <a asp-page="Delete" asp-route-id="@Model.Garcom.Id" class="btn btn-danger me-2">Excluir</a>
    }
    <a asp-page="Index" class="btn btn-secondary">Voltar</a>

</div>
